*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    
}
body{
    font-family: sans-serif;
    background-color:rgb(197, 189, 189) ;
}
.container{
    height: 100vh;
    width: 100vh;
    display: grid;
    place-items: center;    
}
.kalkulator{
    background-color: #000000;
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 25px;
}
.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.theme-toggler.active{
   color: #333;
}
.theme-toggler.active::before{
    background-color: #fff;
}
.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}
#display{
    margin: 0 1px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}
.cover{
    background-color:#333030 ;
    padding: 15px 36px;
    border-radius: 20px;
    
}
.display::-webkit-scrollbar{
    display: block;
    height: 3px;
}
button{
    height: 60px;
    width: 60px;
   
    border: 0;
    border-radius: 10px;
    margin: 1px;
    cursor: pointer;
    transition: all 100ms ease;
}
button:hover{
    transform: scale(1);
}
button#equal{
    height: 130px;
  }
.kalkulator button#clear{
    background-color: #1d1b1b;;
    color: aqua;
}
.kalkulator button.number{
    background-color: #1d1b1b;
    color: #e9e9e9;
}
.kalkulator button.operator{
    background-color: #1d1b1b;
    color: aqua;
    font-weight: bold;
}
.kalkulator button.equal{
    background-color: #1d1c1b;
    color: #ff3c01;
    font-size: medium;
}
.kalkulator button.tambah{
    background-color: #1d1c1b;
    color: #ff3c01;
    font-size: medium;
}
.kalkulator button.kurang{
    background-color: #1d1c1b;
    color: #ff3c01;
    font-size: medium;
}
.kalkulator button.hapus{
    background-color: #1d1c1b;
    color: #ff3c01;
    font-size: medium;
}
/*Hitam*/
.kalkulator-hitam{
    background-color: #000000;
    
}